body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.name-color {
  color: orange;
}
.introduction {
  display: flex;
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
}
.left-side,
.right-side {
  width: 50%;
}
.left-side {
  padding: 20px;
  margin-left: 2%;
}
.right-side {
  margin-top: 40px;
}
.s-one {
  padding-left: 150px;
  padding-top: 10%;
  width: 40%;
}
.my-pic {
  background-color: rgb(206, 144, 29);
  border-radius: 30%;
  margin-left: 150px;
  width: 35%;
}
.dream-big {
  display: flex;
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.btn1 {
  margin-top: 25px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  letter-spacing: 0.04rem;
  font-weight: 700;
  border-radius: 7%;
}
h2 {
  font-size: 40px;
}
.ex {
  display: flex;
  width: 100%;
}
.ex-item {
  width: 40%;
  margin: 5%;
  padding: 2%;
  box-shadow: 10px 10px 10px gray;
}
#ex-item1 {
  border-left: 7px solid;
  border-image: linear-gradient(purple, indigo);
  border-image-slice: 1;
}
#ex-item2 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, green);
  border-image-slice: 1;
}
